<!DOCTYPE html>
<meta charset="utf-8">
<html>
	<head>
	<% include ./head.ejs %>
   	<title>EastarJet Flight Plotting Board!</title>
  	<script type="text/javascript" src="https://d3js.org/d3.v4.min.js"></script>
	<script type="text/javascript" src="/javascripts/board_lib.js"></script>
	<script type="text/javascript" src="/javascripts/board_plot.js"></script>
	<link href="/stylesheets/board.css" rel="stylesheet" type="text/css"></link>
	<script type="text/javascript">
	var geneva = null;
	// search geneva data with d3 data
	function filter_geneva(d3data){
		if(geneva === null) return;
		return geneva[d3data.ACNumber].filter((e)=>{
			return e.SectorKey == d3data.FlightKey.split('_')[1]
		});
	}
	//geneva crew str(name|id|rank\...) => rank - name(id),...
	function crew_info(info){
		var crews = [];
		var info_arr = info.split('|');
		for(var i=0; i < info_arr.length; i+=3) {
			crews.push(`${info_arr[i+2]} - ${info_arr[i]}(${info_arr[i+1]})`);
		}
		return crews;
	}
	function init_controls(){
		// initialize control
		var station_list = ['ALL','GMP','ICN','CJU','CJJ','KUV','PUS']
		d3.json('/code/station',(err,data)=>{
			//console.log(data);
			d3.select('#station').append('option')
					.attr('value','ALL').text('ALL');
			data.data.recordset.forEach((d)=>{
			//console.log(d);
			d3.select('#station').append('option')
					.attr('value',d.CodeCode).text(d.CodeCode);
			});
		});
		// update station code from db
		// for(station in station_list){
		// 	d3.select('#station').append('option')
		// 		.attr('value',station_list[station]).text(station_list[station]);
		// }
		var today = yyyymmdd(new Date());
		d3.select('#log_date').property('value',today);
		d3.select('#station').property('value','GMP');
		// event for show_list button
		d3.select('#show_list').property('disabled',false);
		d3.select('#show_list').on('click',()=>{
			console.log('show_list');
			d3.select('#show_list').property('disabled',true);
			var sel_date = d3.select('#log_date').property('value');
			var sel_station = d3.select('#station').property('value');
			var json_url = '/flight_board/plan/'+sel_date+'/'+sel_station;
			//console.log(json_url);
			d3.json(json_url,(err,data)=>{
				//console.log(data);
				if(err){
					console.log(err);
					//console.log(data);
					alert('Server Internal Error, please email to system administrator!')
				}else{
					//console.log(data.plan);
					draw_plot(sel_date,sel_station,data.plan.recordset);
				}
			});
			var geneva_url = '/geneva/'+sel_date.replace(/-/g,'');
			d3.json(geneva_url,(err,data)=>{
				console.log(geneva_url);
				geneva = data;
			});
			d3.select('#show_list').property('disabled',false);
		});
		// 스케줄 데이터 업데이트
		d3.select('#update_list').property('disabled',false);
		d3.select('#update_list').on('click',()=>{
			d3.select('#update_list').property('disabled',true);
			show_update_schedule();
			d3.select('#update_list').property('disabled',false);
		});

		// 게이트 데이터 업데이트
		d3.select('#gate_list').property('disabled',false);
		d3.select('#gate_list').on('click',()=>{
			d3.select('#gate_list').property('disabled',true);
			show_gate_num();
			d3.select('#gate_list').property('disabled',false);
		});
		}

    $('document').ready(()=>{
      console.log('ready');
			//init_flight_info();
			init_controls();
		});
	</script>
</head>
<body>
<!-- modal -->
<div class="modal fade" id='flt_modal' tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>Flight Detail Infomation!</h4>
				</div>
				<div class="modal-body">
					<div class="form-inline">
							<label>Flight Info: </label>
							<span class="glyphicon glyphicon-send" aria-hidden="true"></span>
							<label id="FlightNumber"></label>
							<label id="Route"></label>
							<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
							<label id="StardardTime"></label>
					</div>
					<table class="table table-bordered">
						<tr class='active'>
							<th width="80">정비 지원</th><th>메인</th><th>서브</th>
						</tr>
						<tr>
							<td>출발 지원</td>
							<td>
								<form class="form-inline"><div class="form-group">
								<select class="form-control input-sm" id="key_deptDM"><option>부서</option></select>
								<select class="form-control input-sm" id="sel_deptDM"><option>메인</option></select>
								</div></form>
							</td>
							<td>
								<form class="form-inline"><div class="form-group">
								<select class="form-control input-sm" id="key_deptDS"><option>부서</option></select>
								<select class="form-control input-sm" id="sel_deptDS"><option>서브</option></select>
								</div></form>
							</td>
						</tr>
						<tr>
							<td>도착 지원</td>
							<td>
								<form class="form-inline"><div class="form-group">
								<select class="form-control input-sm" id="key_deptAM"><option>부서</option></select>
								<select class="form-control input-sm" id="sel_deptAM"><option>메인</option></select>
								</div></form>
							</td>
							<td>
								<form class="form-inline"><div class="form-group">
								<select class="form-control input-sm" id="key_deptAS"><option>부서</option></select>
								<select class="form-control input-sm" id="sel_deptAS"><option>서브</option></select>
								</div></form>
							</td>
						</tr>
						<tr>
							<td>탑승 지원</td>
							<td>
								<form class="form-inline"><div class="form-group">
								<select class="form-control input-sm" id="key_deptBM"><option>부서</option></select>
								<select class="form-control input-sm" id="sel_deptBM"><option>메인</option></select>
								</div></form>
							</td>
							<td>
								<form class="form-inline"><div class="form-group">
								<select class="form-control input-sm" id="key_deptBS"><option>부서</option></select>
								<select class="form-control input-sm" id="sel_deptBS"><option>서브</option></select>
								</div></form>
							</td>
						</tr>
					</table>
					<table class="table table-bordered">
						<tr>
							<td>
								<form class="form-inline">
									<div class="form-group">
										<label>주기장 : </label>(출발 - 도착 - 토잉)
										<input type="text" class="form-control input-sm" id="gate_from" placeholder="출발게이트" readonly style="width:80px">
										<input type="text" class="form-control input-sm" id="gate_to" placeholder="도착게이트" readonly style="width:80px">
										<input type="text" class="form-control input-sm" id="gate_tmp" placeholder="토잉" style="width:80px">
									</div>
								</form>
							</td>
						</tr>
						<tr>
							<td>
								<form class="form-inline">
									<div class="form-group">
										<label for="main_chk">도착후 주요정비 :</label>
										<select class="form-control input-sm" id="main_chk">
											<option>DAY CHK</option>
										</select>
									</div>
								</form>
							</td>
						</tr>
						<tr>
							<td><label for="comment">Comment</label>
									<textarea class="form-control" id="flt_msg" rows="3"></textarea>
							</td>
						</tr>
				</table>
				</div>
				<div class="modal-footer">
					<button type="button" id='btn_save' class="btn btn-primary">Submit</button>
					<button type="button" id='btn_close' class="btn btn-default" data-dismiss="modal">Cancel</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="container-fluid">
	<% include ./menu.ejs %>
	<!-- <div id="controls" class="navbar-form navbar-static-top"> -->
	<div id="controls" class="form-group form-inline">
		<label for="log_date">Date</label>
		<input type="date" id="log_date" name="log_date">
		<label for="station">Station</label>
		<select id="station" name="station"></select>
		<button id="show_list" disabled=true class="btn btn-primary btn-sm navbar-btn">show</button>
		<!--
		<button id="update_list" disabled=true class="btn btn-primary btn-sm navbar-btn">schedule</button>
		<button id="gate_list" disabled=true class="btn btn-primary btn-sm navbar-btn">gate</button>
		-->
	</div>
	<!-- <div id="flight_board" class="container-fluid" style="overflow:scroll;height:600px"> -->
	<div id="flight_board" class="container-fluid">
		<svg></svg>
	</div>
</div>

<div id="flight_info" class="info_hidden"></div>
<div id="tooltip_div" class="tooltip" style="opacity: 0;"></div>
<script>
//event binding
$('#flt_modal #key_deptDM').on("change",()=>{
	set_select(d3.select('#flt_modal').select('#sel_deptDM'),
			filter_emps(recordset,$('#flt_modal #key_deptDM').val()));
})
$('#flt_modal #key_deptDS').on("change",()=>{
	set_select(d3.select('#flt_modal').select('#sel_deptDS'),
			filter_emps(recordset,$('#flt_modal #key_deptDS').val()));
})
$('#flt_modal #key_deptAM').on("change",()=>{
	set_select(d3.select('#flt_modal').select('#sel_deptAM'),
			filter_emps(recordset,$('#flt_modal #key_deptAM').val()));
})
$('#flt_modal #key_deptAS').on("change",()=>{
	set_select(d3.select('#flt_modal').select('#sel_deptAS'),
			filter_emps(recordset,$('#flt_modal #key_deptAS').val()));
})
$('#flt_modal #key_deptBM').on("change",()=>{
	set_select(d3.select('#flt_modal').select('#sel_deptBM'),
			filter_emps(recordset,$('#flt_modal #key_deptBM').val()));
})
$('#flt_modal #key_deptBS').on("change",()=>{
	set_select(d3.select('#flt_modal').select('#sel_deptBS'),
			filter_emps(recordset,$('#flt_modal #key_deptBS').val()));
})
<% if(auth == 'W') { %>
$('#flt_modal #btn_save').on('click',(e)=>{
	console.log('btn_save');
	//console.log(e);
	// 각 정보를 읽어와 처리
	// 1. 작업자
	selected_box.select('#workerA').attr('empcd',$('#flt_modal #sel_deptAM').val()).text($('#flt_modal #sel_deptAM option:selected').text());
	selected_box.select('#workerA').attr('sub_empcd',$('#flt_modal #sel_deptAS').val()).attr('sub_empnm',$('#flt_modal #sel_deptAS option:selected').text());
	selected_box.select('#workerD').attr('empcd',$('#flt_modal #sel_deptDM').val()).text($('#flt_modal #sel_deptDM option:selected').text());
	selected_box.select('#workerD').attr('sub_empcd',$('#flt_modal #sel_deptDS').val()).attr('sub_empnm',$('#flt_modal #sel_deptDS option:selected').text());
	selected_box.select('#workerB').attr('empcd',$('#flt_modal #sel_deptBM').val()).text($('#flt_modal #sel_deptBM option:selected').text());
	selected_box.select('#workerB').attr('sub_empcd',$('#flt_modal #sel_deptBS').val()).attr('sub_empnm',$('#flt_modal #sel_deptBS option:selected').text());
	save_workers(selected_box);

	// 2. 주기장
	var gate_num = $('#flt_modal #gate_tmp').val();
	gate_num = gate_num.trim();
	var gate_txt = gate_num?'('+gate_num+')':''
	//if(gate_num != '')
	{
		selected_box.select('#GateTmp').attr('gate_num',gate_num).text(gate_txt);
		save_gate_tmp(selected_box,gate_num)
	}

	// 3. 주요 정비
	var lov = $('#flt_modal #main_chk option:selected').text()
	show_lov_check(selected_box,lov);
	save_lov_check(selected_box,lov);
	// 4. comment
	var flt_msg = $('#flt_modal #flt_msg').val();
	flt_msg = flt_msg.trim();
	var flt_txt = flt_msg?msg_mark:'';
	//if(flt_msg != '')
	{
		selected_box.attr('msg-tooltip',flt_msg);
		selected_box.select('#flight_msg').attr('flt_msg',flt_msg).text(flt_txt);
		save_descs(selected_box,flt_msg);
	}
	
	// hide modal
	$('#flt_modal').modal('hide');
});
<% } %>
</script>
  </body>
<% include ./tail.ejs %>
</html>
