<html>
    <head>
        <% include ./head.ejs %>
    </head>
    <body>
    <div class="container">
        <% include ./menu.ejs %>
        <h1>EastarJet Flight Plotting Board System!</h1>
        <img src="/images/flight_board_main.PNG" width="60">
        <hr>
        <h2>기본 기능</h2>
        <ul>
            <li><p>1 : 그룹웨어 ID와 Password로 접속</p></li>
            <li><p>2 : 검색을 원하는 날짜와 공항을 지정후 show 버튼 클릭</p></li>
            <li><p>3 : 계획 정보 표출, 실 운영정보 표출, 한국공항공사와 인천공항공사의 출도착 정보 이용 게이트 정보 표출</p></li>
            <li><p>4 : 인천공항인 경우 인천공항공사의 출도착 정보 이용하여 도착 예정 시간도 함께 표출</p></li>
            <li><p>게이트 정보 : 각 공항의 예정(확정)된 게이트 정보(출도착 시간 정보)를 배치 작업으로 공사의 홈페이지 정보를 읽어옮.</p></li>
            <li><p>배치 작업 : 인천, 김포, 제주 30분간격, 청주, 부산 1시간 간격, 군산 2시간 간격.</p></li>

        </ul>
        <h2>추가 기능</h2>
        <ul>
            <ui><p>1: 정비사 배정 기능 - Departure, Arrival, Board, 각 2명씩 배정 가능</p></ui>
            <ui><p>2: 기재에 메시지 추가 기능</p></ui>
            <ui><p>3: LOV Check 표시 기능</p></ui>
            <ui><p>4: 게이트 정보 표출 기능(인천공항인 경우 도착 예정 시간 표출)</p></ui>
            <ui><p>5: 배정된 정비사의 인적사항 툴팁 제공</ui>
        </ul>
        <!--
            <a href="/flight_board_help.pdf"><span class="glyphicon glyphicon-file" aria-hidden="true"></span>사용 설명서 파일 다운로드</a>
        -->
        <hr>
        <h2>sample image</h2><h2>current</h2>
        <img src="/images/current_board.PNG" width="400" height="200">
        <br/><br/>
        <img src="/images/flight_board2.PNG" width="400">
        <hr/>
        <h3>기술 정보</h3>
        <p>
            Server Side : Node.js(express)<br>
            Client Side : D3js(SVG)<br>
            Crawlling : Python(requests, beautifulsoup)<br>
            Link to Groupware : axios<br>
        </p>
    </div>
    <footer class="footer">
		<div class="container">
		  <p class="text-muted">이스타항공 정비본부, 시스템 관리자 : 오영진(puniculla@eastarjet.com,8093)
			.</p>
		</div>
    </footer>
    </body>
    <% include ./tail.ejs %>
</html>