<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script type="text/javascript" src="https://d3js.org/d3.v4.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="/javascripts/board_lib.js"></script>
  <link href="/stylesheets/board.css" rel="stylesheet" type="text/css"></link>
<title>Vue 03</title>
  <style>
      [v-cloak]{
          display: none;
      }
  </style>
</head>
<body>
    <div id="tooltip_div" class="tooltip" style="opacity: 0;"></div>
    <div id="control" v-cloak>
        <input type="date" id="log_date" v-model="log_date" />
        <select id="station" v-model="station">
            <option v-for="opt in options">{{opt}}</option>
        </select>
    </div>
    <div id="app" v-cloak>
        <svg :width="svg_w" :height="svg_h">
            <g class="REGO" v-for="hl in hl_set">
                <g :id="hl">
                    <text class="draw_text" x="0" :y="cal_yscale(hl)+svg_h_unit" id="ACNumber" font-size="18">{{ hl }}</text>
                </g>            
            </g>
            <g class="SECTOR" v-for="sec in schedule">
                <g class="box" :id="sec.SectorKey" :transform="'translate('+cal_xscale(sec.ETD)+','+(cal_yscale(sec.Rego)+svg_h_unit)+')'" :etd="sec.ETD">
                    <rect :id="sec.Rego + sec.FlightNumber" class="oth" :width="cal_rect(sec.ETD,sec.ETA).width" :height="box_h"></rect>
                    <text class="text" :x="cal_rect(sec.ETD,sec.ETA).center" y="37.5" text-anchor="middle"
                            :id="'FlightNumber_'+sec.FlightNumber" font-size="22" :crew="sec.Crew" @mouseover="crew_show" @mouseout="crew_hide">{{ sec.FlightNumber }}</text>
                    <text class="text" x="2" y="50" text-anchor="start" id="SchedDepPort" font-size="14">{{ sec.SchedDepPort }}</text>
                    <text class="text" :x="cal_rect(sec.ETD,sec.ETA).width" y="50" text-anchor="end" id="SchedArrPort" font-size="14">{{ sec.SchedArrPort }}</text>
                    <text class="text" x="2" y="11.75" text-anchor="start" id="ETD" font-size="12">{{ sec.ETD.substr(11,5) }}</text>
                    <text class="text" :x="cal_rect(sec.ETD,sec.ETA).width" y="11.75" text-anchor="end" id="ETA" font-size="12">{{ sec.ETA.substr(11,5) }}</text>
                    <text class="text" x="2" y="22.333333333333332" text-anchor="start" id="STD" font-size="12" fill="darkred">{{ sec.STD.substr(11,5) }}</text>
                    <text class="text" :x="cal_rect(sec.ETD,sec.ETA).width" y="22.333333333333332" text-anchor="end" id="STA" font-size="12" fill="darkred" opacity="0.9">{{ sec.STA.substr(11,5) }}</text>
                    <!-- <flight-txt :x="cal_rect(sec.ETD,sec.ETA).center" y="37.5" anchor="middle" id="FlightNumber_542" size="28" :txt="sec.FlightNumber"></flight-txt> -->
                    <!-- <text class="worker_text" x="107.80000000000001" y="-6" id="CrewMembers" text-anchor="middle" font-size="12" font-weight="10" captain="" crew=""></text> -->
                </g>
            </g>
        </svg>
    </div>
</body>
<script>
    var data = {
        svg_w: 1800,   //board size
        svg_h: 0,
        svg_h_unit: 30,//adjust board height
        pad_left: 80, pad_right: 30, pad_top: 30, pad_bottom: 30,
        box_h: 55,    // box height
        box_min: 70,  // min width of box

        // time scale
        xscale_start: '04:00',
        xscale_end: '29:00',   //05시
        xscale_ticks: 0,
        parseTime: d3.timeParse("%Y-%m-%d %H:%M"),
        xscale: null,
        yscale: null,
        
        // plot data
        raw_data: null,
        hl_set: [],
        schedule:[]
    }
    var condition = {
        log_date: yyyymmdd(new Date(),'-'),
        station: 'ALL',
        options: ['ALL','ICN','GMP'],
    }
    var read_geneva = function(d=null){
        if(d === null) d = yyyymmdd(new Date(),'')
        let url = `/geneva/${d}`
        d3.json(url,(err,result)=>{
            //console.log(data);
            if(err){
                console.log(err);
                //console.log(data);
                alert('Server Internal Error, please email to system administrator!')
            }else{
                console.log('read_geneva')
                data.raw_data = result
                //data.hl_set = Object.keys(data.raw_data)
                filter_geneva(condition.station)
            }
        })
    }
    var filter_geneva = function(s=null){
        console.log('filter_geneva',s)
        if(s === null) s = 'ALL'
        let hls = Object.keys(data.raw_data)
        let hl_set = []
        let schedule = []
        data.hl_set = []
        data.schedule = []
        var nextdate = new Date(condition.log_date);
        nextdate.setDate(nextdate.getDate() + 1);
        hls.forEach(l => {
            if(s === 'ALL'){
                let sch = data.raw_data[l].filter(e=>
                        (e.ETD < yyyymmdd(nextdate) + ' ' + data.xscale_start + ':00'))
                schedule.push(sch)
                hl_set.push(l)
            }else{
                let sch = data.raw_data[l].filter(e=>
                        (e.ETD < yyyymmdd(nextdate) + ' ' + data.xscale_start + ':00') && (e.SchedArrPort === s || e.SchedDepPort === s))
                if(sch.length > 0){
                    schedule.push(sch)
                    hl_set.push(l)
                }
            }
        })
        data.hl_set = hl_set
        data.schedule = schedule.reduce((a,b)=>a.concat(b),[])
        init_svg()
    }
    var crew_info = function(info = ""){
		var crews = [];
		var info_arr = info.split('|');
		for(var i=0; i < info_arr.length; i+=3) {
			crews.push(`${info_arr[i+2]} - ${info_arr[i]}(${info_arr[i+1]})`);
		}
		return crews;
	}

    var init_svg = function(){
        data.xscale_ticks = parseInt(data.xscale_end.substr(0,2)) - parseInt(data.xscale_start.substr(0,2))
        data.svg_h = (data.box_h+data.svg_h_unit)*(data.hl_set.length) + data.pad_top+data.pad_bottom

        var svg = d3.select('svg')
        //svg.selectAll("g").remove();
        var x_extent = [data.parseTime(condition.log_date +' '+data.xscale_start),
                        data.parseTime(condition.log_date +' '+data.xscale_end)];
        var y_extent = [0,data.hl_set.length];
        data.x_scale = d3.scaleTime().range([data.pad_left,data.svg_w-data.pad_right])
                        .domain(x_extent).clamp(true);// 값 범위 초과시 처리 옵션
        var x_axis = d3.axisTop(data.x_scale)
                    .tickFormat(d3.timeFormat("%H:%M")) //24시간 형식
                    .tickSize(-(data.svg_h-data.pad_top-data.pad_bottom)).ticks(data.xscale_ticks);
        data.y_scale = linear_scale(y_extent,[data.pad_bottom,data.svg_h-data.pad_top]);
        var y_axis = d3.axisLeft(data.y_scale)
                    .tickSize(-(data.svg_w-data.pad_left-data.pad_right)).ticks(data.hl_set.length);

        //x 축 그리기
        svg.append("g").attr("class", "x_axis")
            .attr("transform", "translate(0," + data.pad_top + ")").call(x_axis);
        // y 축 그리기
        svg.append("g").attr("id","y_axis")
            .attr("transform","translate("+data.pad_left+","+0+")").call(y_axis);
    }
    var cal_scale = function(scale,d){
        return scale(d)
    }
    var methods = {
         cal_xscale: function(d){
            return cal_scale(data.x_scale,data.parseTime(d.substr(0,16)))
        },
        cal_yscale: function(d){
            return cal_scale(data.y_scale,data.hl_set.indexOf(d))
        },
        cal_rect: function(t1,t2){
            let p1 = cal_scale(data.x_scale,data.parseTime(t1.substr(0,16)))
            let p2 = cal_scale(data.x_scale,data.parseTime(t2.substr(0,16)))
            let w = p2 - p1
            if(w < data.box_min) p2 = p1 + data.box_min
            w = p2 - p1
            return {
                left: p1,
                right: p2,
                center: (p2-p1)/2,
                width: w
            }
        },
        crew_show: function(d){
            //console.log(d)
            let crew_list = crew_info(d.path[0].attributes.crew.value)
            bubble_show(d.offsetX-30,d.offsetY+60,show_msg(crew_list.join('<br>')))
        },
        crew_hide: function(){
            bubble_hide()
        }
    }

    var control = new Vue({
        el: '#control',
        data: condition,
        computed:{
            sel_date: function(){
                return this.log_date.split('-').join('')
            },
        },
        watch:{
            sel_date: read_geneva,
            station: filter_geneva
        },
        created: read_geneva()
    })

    var FlightTxt = {
        props:{
            'x': {required:true},
            'y': {required:true},
            'anchor': {defalult:'middle'},
            'id': {required:true},
            'size': {defalult:12},
            'fill': {defalult:'black'},
            'opacity': {defalult:1},
            'weight': {defalult:10},
            'txt': {required:true}
        },
        methods: {
            flight_info: function(){
                console.log(1)
            }
        },
        template:
            `<text class="text" :x="x" :y="y"
            :text-anchor="anchor"
            :id="id" :font-size="size" :font-weight="weight"
            :fill="fill"
            :opacity="opacity" @mouseover="flight_info">{{ txt }}</text>`
    }

    var geneva = new Vue({
        el: '#app',
        data: data,
        computed:{
            // xscale_ticks: function(){//x축의 갯수
            //     return parseInt(this.xscale_end.substr(0,2)) - parseInt(this.xscale_start.substr(0,2))
            // },
            // svg_h: function(){
            //     return (this.box_h+this.svg_h_unit)*(this.hl_set.length) + this.pad_top+this.pad_bottom
            // }
        },
        watch:{

        },
        methods:methods,
        components:{
            'flight-txt': FlightTxt
        }
    })
</script>
</html>